@font-face {
    font-family: "Gilroy-Bold";
    src: url("./../../fonts/Gilroy-Bold.ttf") format("truetype");
}

.logo-container {
    padding: 12px 8px;
    border-bottom: 1px solid #ECECED;
    background-color: white;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    gap: 2px;
    overflow-y: auto;
    height: 89vh;
    background: white;
}

.menu-item {
    padding: 6px 4px;
}

.menu-item a {
    display: flex;
    gap: 4px;
}

.menu-item span {
    font-size: 13px;
    line-height: 20px;
}

.bold {
    font-family: 'Gilroy-Bold' , sans-serif;
}

.board span{
    width: 80%;
}

.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #ECECED;
    height: 100vh;

}